<red_nav_bar>loading</red_nav_bar>
<white_nav_bar>bruh</white_nav_bar>
<div>
<summer_sale>help</summer_sale>
<discount_card>fbwuvi</discount_card>
</div>
<li class="nav-item dropdown bruh" aria-labelledby="navbarDropdown" style="right:0">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <a class="nav-link; text-black" style="padding: 0px 2px 0px 25px; text-decoration: none;" href="#"><b>Categories
            <svg width="12" height="12" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16" style="color: hotpink;">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
          </svg>
        </b></a>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -170px;">
      <li><a class="dropdown-item" href="#">Shipping and Order Services</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Target App</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Pharmacy</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Gift Ideas</a></li>
    </ul>
  </li>
<ul>
    <li>
e
</li>
<li>
    e
    </li>
    <li>
        e
        </li>
        <li>
            e
            </li>
            <li>
                e
                </li>
                <li>
                    e
                    </li>
                    <li>
                        e
                        </li>
                        <li>
                            e
                            </li>
                            <li>
                                e
                                </li>
</ul>