<div class="container-fluid summerSaleFlex">
    <summer_sale class="summerSale">summer</summer_sale>
</div>

<div class="container-fluid discountCardFlex ">
    <div class="m-3" *ngFor="let discountCard of discountCards;">
        <discount_card title = {{discountCard.title}} subtext = {{discountCard.subtext}} image = {{discountCard.image}}>discount</discount_card>
    </div>
</div>

<div class="container-fluid circleCardFlex">
    <circle_card class="circleCard">circle</circle_card>
    <circle_card class="circleCard">circle</circle_card>
    <circle_card class="circleCard">circle</circle_card>
</div>
<router-outlet></router-outlet>