<div class="container-fluid summerSaleFlex">
    <summer_sale class="summerSale">summer</summer_sale>
</div>

<div class="container-fluid discountCardFlex ">
    <div class="m-3" *ngFor="let discountCard of discountCards;">
        <discount_card title = {{discountCard.title}} subtext = {{discountCard.subtext}} image = {{discountCard.image}}>discount</discount_card>
    </div>
</div>

<div class="container-fluid circleCardFlex">
    <div class = "m-2" *ngFor = "let circleCard of circleCards;">
        <circle_card image = {{circleCard.image}} title = {{circleCard.title}}>circle</circle_card>
    </div>
</div>
<router-outlet></router-outlet>