
<nav class="nav" padding="0px 16px 0px 12px" style="background-color:#cc0000; height: 75px; align-items: center;">
<ul class="nav" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px; color:white; padding-left: 25px; text-align: center; padding-top: 19px;">
  <a href="/" class="Link-sc-1khjl8b-0 kdCHb Logo-u9pbds-0 iGKXfC" aria-label="home" data-test="tgtLogoHomeTop" id="home">
    <span class="sc-gsTCUz iJmNUG" data-icon-name="LogoBullseyeWhite" fill="white" color="white" style="color: white;">
      <div class="sc-hKgILt gTLZXx" style="color: white;">
        <svg width="44" height="44" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false">
          <path d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z" fill-rule="evenodd">

          </path>
        </svg>
      </div>
    </span>
  </a>
    <li class="nav-item"><a class="nav-link; text-white" style="padding: 0px 15px 0px 25px; text-decoration: underline;" href="#"><b>Categories<i class="arrow down"></i></b></a></li>
    <li class="nav-item"><a class="nav-link; text-white" style="padding: 0px 15px 0px 15px" href="#"><b>Deals</b></a></li>
    <li class="nav-item"><a class="nav-link; text-white" style="padding: 0px 15px 0px 15px" href="#"><b>What's New</b></a></li>
    <li class="nav-item"><a class="nav-link; text-white" style="padding: 0px 0px 0px 15px" href="#"><b>Pickup & Delivery</b></a></li>
</ul>

<form class="form-inline" float="right" style="align-self: auto; padding: 0px 0px 0px 115px; width: 600px;">
  <input class="form-control mr-sm-2" type="search" style="width: 640px; border-radius: 40px; font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; height: 40px; text-align: start;" placeholder="Search" aria-label="Search">
</form>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" float="right" style="background-color: white">
    <div class="topnav-right">
      <form class="form-inline">
      <div class="nav">
        <ul class="navbar-nav ml-auto" style="align-content: flex-end; font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; height: 30px; align-items: center; text-align: right; list-style-position: inside;">
          <li class="nav-item">
            <a class="nav-link active" style="padding-left: 60em"aria-current="page" href="#">Registry</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Weekly Ad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">RedCard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Gift Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Find Stores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Orders</a>
          </li>
          <svg width="16" height="16" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
          </svg>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Shipping and Order Services</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Target App</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Pharmacy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Gift Ideas</a></li>
            </ul>
          </li>
        </ul>
      </div>
      </form>
    </div>
  </nav>