<nav class="nav" padding="0px 16px 0px 12px" style="background-color:#cc0000; height: 75px; align-items: center;">
<ul class="nav" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px; color:white; padding-left: 25px; text-align: center; padding-top: 19px;">
  <a href="/" class="Link-sc-1khjl8b-0 kdCHb Logo-u9pbds-0 iGKXfC" aria-label="home" data-test="tgtLogoHomeTop" id="home">
    <span class="sc-gsTCUz iJmNUG" data-icon-name="LogoBullseyeWhite" fill="white" color="white" style="color: white;">
      <div class="sc-hKgILt gTLZXx" style="color: white;">
        <svg width="44" height="70" viewBox="0 8 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false" style="color: white;" fill="white">
          <path d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z" >

          </path>
        </svg>
      </div>
    </span>
  </a>
  <li class="nav-item dropdown bruh" aria-labelledby="navbarDropdown" style="right:0">
    <a class="nav-link dropdown-toggle nodrop" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="nav-item"><a class="nav-link nodrop; text-white" style="padding: 0px 2px 0px 10px; text-decoration: none; width: 80px;" href="#"><b>Categories
        <svg width="12" height="12" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
      </svg>
    </b></a></div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -170px;">
      <li><a class="dropdown-item" href="#">Black_Owned or Founded</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Ready For School</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">College</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Grocery</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Household Essentials</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Women</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Men</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Young Adult</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Kids</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Shoes</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Baby</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Women</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Home</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Furniture</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Kitchen & Dining</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Pztio & Garden</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Toys</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Electronics</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Video Games</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Movies, Music, & Books</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sports & Outdoors</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Beauty</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Personal Care</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Health</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Pets</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Luggage</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">School & Office Supplies</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Party Supplies</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Bullseye's Playground</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Gift Ideas</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Clearance</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown bruh" aria-labelledby="navbarDropdown" style="right:0">
    <a class="nav-link dropdown-toggle nodrop" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="nav-item"><a class="nav-link nodrop; text-white" style="padding: 0px 2px 0px 25px; text-decoration: none; width: 52px;" href="#"><b>Deals
        <svg width="12" height="12" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
      </svg>
    </b></a></div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -170px;">
      <li><a class="dropdown-item" href="#">Clearance</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Weekly Ad</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Top Deals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Red Card Exclusives</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Target Circle Offers</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown bruh" aria-labelledby="navbarDropdown" style="right:0">
    <a class="nav-link dropdown-toggle nodrop" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="nav-item"><a class="nav-link nodrop; text-white" style="padding: 0px 2px 0px 25px; text-decoration: none; width: 100px;" href="#"><b>What's New
        <svg width="12" height="12" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
      </svg>
    </b></a></div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -170px;">
      <li><a class="dropdown-item" href="#">#TargetStyle</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Women's New Arrivals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Beauty New Arrivals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Kid's New Arrivals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Men's New Arrivals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Home New Arrivals</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Target Finds</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Ulta Beauty at Target</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown bruh" aria-labelledby="navbarDropdown" style="right:0">
    <a class="nav-link dropdown-toggle nodrop" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div class="nav-item"><a class="nav-link nodrop; text-white" style="padding: 0px 0px 0px 25px; text-decoration: none;" href="#"><b>Pickup & Delivery
        <svg width="12" height="12" fill="currentColor" class="bi bi-suit-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" style="font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;"/>
      </svg>
    </b></a></div>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="left: -170px;">
      <li><a class="dropdown-item" href="#">Order Pickup</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Same Day Delivery</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Driveup</a></li>
    </ul>
  </li>
</ul>

<form class="form-inline" float="right" style="align-self: auto; padding: 0px 0px 16px 75px; width: 730px;">
  <input class="form-control mr-sm-2" type="search" style="width: 640px; border-radius: 40px; font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; height: 40px; text-align: start;" placeholder="Search" aria-label="Search">
</form>

<li class="nav-item dropdown bruh">
  <a class="nav-link dropdown-toggle bruh" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="white" class="bi bi-person-circle" viewBox="-5 0 24 24" style="padding-right: 0px;">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 300px; color: white;">
    <li><a class="dropdown-item" href="#">Sign In</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Create Account</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Orders</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#" style="height: 50px; text-decoration: none;">
      <a href="/" class="Link-sc-1khjl8b-0 kdCHb Logo-u9pbds-0 iGKXfC" aria-label="home" data-test="tgtLogoHomeTop" id="home" style="text-decoration: none;">
      <span class="sc-gsTCUz iJmNUG" data-icon-name="LogoBullseyeWhite" fill="white" color="white" style="color: white; text-decoration: none;">
        <div class="sc-hKgILt gTLZXx" style="color: #cc0000; font-size: 30px; text-decoration: none;">
          <svg width="44" height="70" viewBox="0 8 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false" style="color: white;" fill="#cc0000">
            <path d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z" >
  
            </path>
          </svg>
           <b>circle</b>
        </div>
      </span>
    </a>
    </a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Gift Cards</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">RedCard</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Buy it Again</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">My Store</a></li>
  </ul>
</li>

<svg xmlns="http://www.w3.org/2000/svg" width="75" height="45" fill="white" class="bi bi-cart3" viewBox="0 0 24 24" style="float: right;">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
</svg>

</nav>