<nav class="nav mainRed">
  <ul class="nav mainList">
    <a href="/">
      <span>
        <div>
          <svg class="targetLogoTopRight" viewBox="0 8 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z">
            </path>
          </svg>
        </div>
      </span>
    </a>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nodrop" href="#" data-bs-toggle="dropdown">
        <div class="nav-item"><a class="nav-link nodrop text-white mainLink1" href="#"><b>Categories
              <svg class="bi bi-suit-heart dropArrow" viewBox="0 0 16 16">
                <path class="dropArrowPath"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </b></a></div>
      </a>
      <ul class="dropdown-menu mainCatDrop" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item hoverline" href="#">Black Owned or Founded</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Ready For School</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">College</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Grocery</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Household Essentials</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Women</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Men</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Young Adult</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Kids</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Shoes</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Baby</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Women</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Home</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Furniture</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Kitchen & Dining</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Patio & Garden</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Toys</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Electronics</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Video Games</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Movies, Music, & Books</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Sports & Outdoors</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Beauty</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Personal Care</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Health</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Pets</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Luggage</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">School & Office Supplies</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Party Supplies</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Bullseye's Playground</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Gift Ideas</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Clearance</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nodrop" href="#" data-bs-toggle="dropdown">
        <div class="nav-item"><a class="nav-link nodrop text-white mainLink2" href="#"><b>Deals
              <svg class="bi bi-suit-heart dropArrow" viewBox="0 0 16 16">
                <path class="dropArrowPath"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </b></a></div>
      </a>
      <ul class="dropdown-menu mainCatDrop" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item hoverline" href="#">Clearance</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Weekly Ad</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Top Deals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Red Card Exclusives</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Target Circle Offers</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nodrop" href="#" data-bs-toggle="dropdown">
        <div class="nav-item"><a class="nav-link nodrop text-white mainLink3" href="#"><b>What's New
              <svg class="bi bi-suit-heart dropArrow" viewBox="0 0 16 16">
                <path class="dropArrowPath"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </b></a></div>
      </a>
      <ul class="dropdown-menu mainCatDrop" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item hoverline" href="#">#TargetStyle</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Women's New Arrivals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Beauty New Arrivals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Kid's New Arrivals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Men's New Arrivals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Home New Arrivals</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Target Finds</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Ulta Beauty at Target</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nodrop" href="#" data-bs-toggle="dropdown">
        <div class="nav-item"><a class="nav-link nodrop text-white mainLink4" href="#"><b>Pickup & Delivery
              <svg class="bi bi-suit-heart dropArrow" viewBox="0 0 16 16">
                <path class="dropArrowPath"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
              </svg>
            </b></a></div>
      </a>
      <ul class="dropdown-menu mainCatDrop" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item hoverline" href="#">Order Pickup</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Same Day Delivery</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item hoverline" href="#">Driveup</a></li>
      </ul>
    </li>
  </ul>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search">
  </form>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle nodrop" href="#" role="button" data-bs-toggle="dropdown">
      <img class="bi-person-circle" src="../assets/sign in logo.png" alt="Sign in">
    </a>
    <ul class="dropdown-menu nodrop signInDrop">
      <li><a class="dropdown-item hoverline" href="#">Sign In</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">Create Account</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">Orders</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline signInCircle" href="#">
          <a class="signInCircleLink" href="/">
            <span>
              <div class="signInDropCircleWord">
                <svg class="dropTargetLogo" viewBox="0 8 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z">

                  </path>
                </svg>
                <b>circle</b>
              </div>
            </span>
          </a>
        </a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">Gift Cards</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">RedCard</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">Buy it Again</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item hoverline" href="#">My Store</a></li>
    </ul>
  </li>

  <a href="#">
    <svg xmlns='./node_modules/bootstrap-icons/icons/gem.svg' class="bi bi-cart3" viewBox="0 0 20 26">
      <path
        d="M5.625 19.25c.77 0 1.375.605 1.375 1.375S6.395 22 5.625 22s-1.375-.605-1.375-1.375.605-1.375 1.375-1.375zm13 0c.77 0 1.375.605 1.375 1.375S19.395 22 18.625 22s-1.375-.605-1.375-1.375.604-1.375 1.375-1.375zM1.135 2.212l2.962.543 18.762 2.622-2.29 7.853-13.855.492.368 2.167c.094.558.55.977 1.103 1.034l.13.007H20.25v1.5H8.314a2.75 2.75 0 01-2.677-2.12l-.034-.17-.427-2.514L3.36 4.144.865 3.688l.27-1.476z" />
    </svg>
  </a>
</nav>