.bg-light
{
    display: flex;
    flex-direction: row;
    background-color: white;
    line-height: 10px;
}
.ml-auto
{
    align-content: flex-end; 
    font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif; 
    height: 30px; 
    align-items: center; 
    text-align: right; 
    list-style-position: inside;
}
.locationTime
{
    align-content: flex-end;
    list-style-type: none; 
    text-align: left; 
    font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 15px;
}
.timeOuter
{
    font-size: 12px;
}
.timeInner
{
    text-decoration: none; 
    color: grey;
}
.locationOuter
{
    font-size: 14px; color: gray
}
.locationInner
{
    text-decoration: none; 
    color: grey;
}
.bi-suit-heart
{
    width: 12px; 
    height: 12px;
    fill: currentColor;
}
.darrow
{
    font-family: Targetica, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.rightList
{
    display: inline-flex;
    list-style-type: none;
    align-self: flex-end; 
    padding-left: 710px;
}
.rightItem:hover
{
    text-decoration: underline;
}
.firstItem
{
    align-items: flex-end;
}
.moreDrop
{
    right:0;
}
.dropdown-menu
{
    left: -170px;
}
.nodrop::after
{
    content: none;
}