<div class="container" style="padding: 0 0 0 60; width: 600px; align-items: center; margin-left: 148px; color: black;">
    <a href="#" style="text-decoration: none;">
<img src="https://target.scene7.com/is/image/Target/_FallMakeup-210818-1629312685894?wid=526&qlt=80&fmt=webp" style="height: 280px; width: 280px; padding: 40 0 0 300; align-items: center;">
<ul style="list-style: none; text-align: center; font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif; margin-left: -325px;" class="hovercard">
    <li style="font-size: 25px; color: #333333; text-decoration: none;">
        <b> Bountiful beauty </b>
    </li>
    <li style="font-size: 15px; line-height: 16px; color: black;">
        Explore fall-fresh beauty trends and styles
    </li>
</ul>
</a>
</div>