.container
{ 
    width: 280px; 
    align-items: center;  
    color: black;
}
.cardSlot
{
    text-decoration: none;
}
.cardImg
{
    height: 280px; 
    width: 280px; 
    align-items: center;
}
.cardInfo
{
    list-style: none; 
    text-align: center; 
    font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif;;
    
}
.cardInfo:hover
{
    text-decoration: underline;
    text-decoration-color: black;
}
.cardTitle
{
    font-size: 25px; 
    color: #333333; 
    text-decoration: none;
}
.cardSub
{
    font-size: 15px; 
    line-height: 16px; 
    color: black;
}