<div class="container" style="padding-left: 60px;">
<img src="https://target.scene7.com/is/image/Target/LD_HERO_AA_D-210818-1629312722462?wid=2160&qlt=80&fmt=webp" alt="" width="1200" height="500">
<div class="centered">
    <a class="bruh" href="#" style="text-decoration: none;">
        <ul style="list-style: none; text-align: center;" class="bruh">
            <li style="font-size: 20px; color: black; align-content: center; font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif;">
                <b></b>
            </li>
            <li  style="font-size: 90px; color: #776273; align-content: center; font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif; height: 115px; position: relative;">
                <b> 20% off</b>
            </li>
            <li  style="font-size: 30px; color: black; align-content: center; font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif; line-height: 35px;">
               <b> select men's & <br> women's clothing </b>
            </li>
            <li>
                <a href="/" class="Link-sc-1khjl8b-0 kdCHb Logo-u9pbds-0 iGKXfC" aria-label="home" data-test="tgtLogoHomeTop" id="home" style="text-decoration: none;">
                    <span class="sc-gsTCUz iJmNUG" data-icon-name="LogoBullseyeWhite" fill="white" color="white" style="color: white; text-decoration: none;">
                      <div class="sc-hKgILt gTLZXx" style="color: #cc0000; font-size: 22px; text-decoration: none;"> with
                        <svg width="30" height="50" viewBox="0 1 24 24" xmlns="http://www.w3.org/2000/svg" focusable="false" style="color: white;" fill="#cc0000">
                          <path d="M12 1c6.074 0 10.999 4.925 10.999 11 0 6.074-4.925 10.999-11 10.999-6.074 0-10.999-4.925-10.999-11C1 5.925 5.925 1 12 1zm0 18.173a7.174 7.174 0 10-.001-14.347 7.174 7.174 0 000 14.347zm0-3.653a3.52 3.52 0 110-7.04 3.52 3.52 0 010 7.04z" >
                
                          </path>
                        </svg>
                         <b>circle</b>
                      </div>
                    </span>
                  </a>
            </li>
            <button type="button" style="background-color: white; border-radius: 4px; height: 48px; font-family: Helvetica for Target, HelveticaForTarget, Targetica, HelveticaNeue for Target, Helvetica Neue, Helvetica, Arial, sans-serif; border-width: 1px;">Get The Offer</button>
        </ul>
    </a>
</div>
</div>