<div class="container" style="padding-left: 60px;">
<img src="https://target.scene7.com/is/image/Target/LD_HERO_AA_D-210818-1629312722462?wid=2160&qlt=80&fmt=webp" alt="" width="1200" height="500">
<div class="centered">
    <a class="bruh" href="#">

    <div class="StorycardText-sc-1v22x87-0 gGClLq storycard--text" style="text-align: center;"><h2 class="Heading__StyledHeading-sc-1mp23s9-0 fSrhRC storycard--headline"><span class="ResizeText-sc-1qi69sm-0 IryNn"><span style="font-size: 70%"><span style="line-height:130%;display:block;">Ends today!</span></span>
        <span style="color: #776273;">
        <span style="font-size: 400%">20<span class="h-sr-only">% off</span><span aria-hidden="true"></span></span></span>
        <span style="line-height:95%;display:block;"><span style="font-size: 90%">select men’s &amp; women’s clothing</span></span></span></h2><div class="storycard--detail"><span class="ResizeText-sc-1qi69sm-0 IryNn"><span style="font-size: 90%">with <span style="color: #cc0000;"><b><span style="font-size: 80%"><span class="h-sr-only">Target</span><span aria-hidden="true">◎</span></span>circle<span style="font-size: 35%">TM</span></b></span></span></span></div><div class="StorycardButton-d2og3v-0 jQNvbz h-margin-v-default storycard--button" data-test="storycard-button"><div type="button" class="Button-bwu3xu-0 iTtldf">Get the offer</div></div></div>

    </a>
</div>
</div>